<?php
$form = $block->getForm();

?>
<?php if ($form != false):  ?>
    <?php $fields = $block->getFields(); ?>
    <h3 class="form-name"><?= $form->getTitle(); ?></h3>
    <p class="form-description"><?= $form->getInfoText(); ?></p>
    <fieldset class="customform fieldset">
        <input type="hidden" name="form_id" value="<?= $form->getFormId(); ?>" id="form_id" />
        <?php foreach ($fields as $field): ?>
            <?= $block->render($field); ?>
        <?php endforeach;?>
    </fieldset>
<?php endif; ?>
