& when (@media-common = true) {
    .customform {
        border: 0;
        padding: 0;
        margin-bottom: 15px;
        margin-top: 15px;
        .field {
            margin: 5px 0;
        }
    }
}
