<?php
$field = $block->getField();
$answers = explode(',', $field->getAvailableAnswers());
$default =  $block->getData('value');
?>

<div class="field street required">
    <label for="field_<?= $field->getQuestionsId(); ?>" class="label <?= $field->getRequired() ? 'required' : ''; ?>"><span><?= /* @noEscape */ $field->getQuestion() ?></span></label>
    <div class="control">
        <?php foreach ($answers as $answer): ?>
            <label>
            <input type="radio" name="question[<?= $field->getQuestionsId(); ?>]"
                   title="<?= /* @noEscape */ $field->getQuestion();?>"
                   id="field_<?= $field->getQuestionsId(); ?>"
                   class="input-text"
                    value="<?= trim($answer); ?>" <?= $answer ==$default ? 'checked="true"' : ''; ?>
            /><span><?= trim($answer); ?></span></label>
        <?php endforeach; ?>
    </div>
</div>
