<?php
$field = $block->getField();
$answers = explode(',', $field->getAvailableAnswers());
$default =  $block->getData('value');
?>

<div class="field street required">
    <label for="field_<?= $field->getQuestionsId(); ?>" class="label <?= $field->getRequired() ? 'required' : ''; ?>"><span><?= /* @noEscape */ $field->getQuestion() ?></span></label>
    <div class="control">
        <select type="text" name="question[<?= $field->getQuestionsId(); ?>]"
               title="<?= /* @noEscape */ $field->getQuestion();?>"
               id="field_<?= $field->getQuestionsId(); ?>"
               class="input-text <?= $field->getRequired() ? 'required' : ''; ?>" placeholder="<?= /* @noEscape */ $field->getQuestion();?>">
            <option><?= __('--Please Select--'); ?></option>
            <?php foreach ($answers as $answer): ?>
                <option value="<?= trim($answer); ?>" <?= trim($answer) ==$default ? 'selected' : ''; ?> ><?= trim($answer);?></option>
            <?php endforeach; ?>
        </select>
    </div>
</div>
