<?php
$field = $block->getField(); ?>

<div class="field street required">
    <label for="field_<?= $field->getQuestionsId(); ?>" class="label <?= $field->getRequired() ? 'required' : ''; ?>"><span><?= /* @noEscape */ $field->getQuestion() ?></span></label>
    <div class="control">
        <input type="<?= $block->getType(); ?>" name="question[<?= $field->getQuestionsId(); ?>]"
               title="<?= /* @noEscape */ $field->getQuestion();?>"
               id="field_<?= $field->getQuestionsId(); ?>"
               value="<?=$block->getData('value'); ?>"
               class="input-text <?= $field->getRequired() ? 'required' : ''; ?>" placeholder="<?= /* @noEscape */ $field->getQuestion();?>">
    </div>
</div>
