<?php

$form = $block->getForm();
$fields = $block->getFields();
if($form) :
?>

<div class="form form-<?= $form->getFormId(); ?>" >

    <?= $block->getChildHtml('form_fields_before') ?>
    <form class="form-container" action="<?= $block->getSubmitUrl();?>" method="post" id="form-validate" enctype="multipart/form-data" autocomplete="off">
        <h3 class="form-name"><?= $form->getTitle(); ?></h3>
        <p class="form-description"><?= $form->getInfoText(); ?></p>
        <fieldset class="fieldset">
            <?= /* @noEscape */ $block->getBlockHtml('formkey'); ?>
            <input type="hidden" name="form_id" value="<?= $form->getFormId(); ?>" id="form_id" />
            <?php foreach ($fields as $field): ?>
                <?= $block->render($field); ?>
            <?php endforeach;?>
            <?= $block->getChildHtml('form_additional_info') ?>
        </fieldset>
        <div class="actions-toolbar">
            <div class="primary">
                <button type="submit" class="action submit primary" title="<?= $block->escapeHtmlAttr(__('Submit')) ?>"><span><?= $block->escapeHtml(__('Submit')) ?></span></button>
            </div>
        </div>
    </form>
</div>

<script>
    require([
        'jquery',
        'mage/mage'
    ], function($){

        var dataForm = $('#form-validate');
        dataForm.mage('validation', {}).find('input:text').attr('autocomplete', 'off');

    });
</script>
<?php endif;?>
